.navbar {
  width: 100%;
  padding: 20px 6%; /*20 top bottom 6 left right*/
  display: flex;
  justify-content: space-between; /*justify-content controls how flex items are positioned along the main axis (horizontal by default).space-between: First item at the start, last at the end, equal space between others.*/
  position: fixed;
  /*
  fixed: Positioned relative to the viewport (browser window).
  Stays in place even when scrolling.
  */
  font-size: 14px;
  color: #e5e5e5;
  background-image: linear-gradient(180deg, rgb(0, 0, 0, 0.7) 10%, transparent);
  z-index: 10;
}

.navbar-left {
  display: flex;
  align-items: center; /*vertically aligns center*/
  gap: 50px;
}

.navbar-left img {
  width: 90px;
}
.navbar-left ul {
  display: flex; /*Initially they all will be in vertical*/
  list-style: none; /*removes bullet point*/
  gap: 20px;
}
.navbar-left ul li {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-right .icons {
  width: 20px;
  cursor: pointer;
}

.navbar-right .profile {
  border-radius: 4px;
  width: 35px;
}
.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
/*When you add position: relative; to .navbar-profile, it becomes the reference point for any absolutely positioned child elements inside it.*/
.navbar .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  /*
  top: 100%; Places the dropdown just below the parent element (100% of parent’s height).
  right: 0; Aligns the dropdown to the right edge of the parent container.
  width: max-content; The dropdown’s width automatically expands to fit its content. If the items are long, the box grows with them.
  */
  background: #191919;
  padding: 18px 22px;
  border-radius: 2px;
  z-index: 1;
  display: none;
  /*
  Initially hidden. It will be shown when triggered (e.g., on hover or click) using JavaScript or a CSS hover rule.
  */
}

.navbar .dropdown p {
  font-size: 13px;
  cursor: pointer;
}

.navbar-profile:hover .dropdown {
  display: block;
}

.nav-dark {
  background-color: #141414;
}

@media (max-width: 800px) {
  .navbar {
    padding: 20px 4%;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar img {
    height: 25px;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .navbar {
    padding: 15px 4%;
    font-size: 13px;
  }

  .navbar-left {
    gap: 30px;
  }

  .navbar-left img {
    width: 70px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 3%;
    font-size: 12px;
  }

  .navbar-left ul {
    display: none; /* hide menu for mobile */
  }

  .navbar-left img {
    width: 60px;
  }

  .navbar-right {
    gap: 12px;
  }

  .navbar-right .profile {
    width: 28px;
  }
}
